<div class="product">
    <div class="product-name">
        <input type="text" name="input_product_name" value="" placeholder="Beschrijving">
    </div>
    <div class="product-price">
        <input type="text" name="input_product_price" class="input_product_price" value="" placeholder="3000.00">
    </div>
    <div class="product-new">
        +
    </div>
</div>