$c_black: #4D515B;
$c_white: #FFFFFF;

$t_font-family: "Open Sans", "Helvetica Neue", "Helvetica", arial, sans-serif;
$t_line_height: 1.6;
$t_size-heading: 14px;
$t_size-base: 14px;

$d_container: 800px;
$d_label: 10px;
$d_small: 15px;
$d_medium: 30px;
$d_large: 30px;
